@import "tailwindcss";

.loading-img{
    animation-name: LoadingImg;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    transition: all 0.5s;
}

@keyframes loadingImg {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(3);
    }
}